PROJECT_ROOT="/path/to/algo_reinvention"  # MUST replace it to your project path

# conda related, MUST replace to your env name
CONDA_VLLM_NAME="vllm"
CONDA_VERL_NAME="verl"
CONDA_VERL_MINISTRAL_NAME="verl_ministral"
CONDA_BFCL_NAME="bfcl"

# model related, replace it to your base model's path before unlearning
QWEN3_4B_THINKING_2507_PATH=""
QWEN3_4B_INSTRUCT_2507_PATH=""
MINISTRAL3_14B_REASONING_2512_PATH=""

# API call related, replace it before unlearning
API_KEY=""
BASE_URL=""
API_MODEL_NAME=""
PROXY=""

# final_test related, generated automatically after init
FINAL_TEST_TARGET_TIME_LIMIT="1.0"
